body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* #chartdiv {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right,
      hsl(210, 20%, 98%),
      hsl(202, 94%, 49%));
} */

canvas {
  border: 1px solid black;
}

/* #chartdiv {
  width: 100%;
  height: 100%;
} */

.canvas-container {
  display: flex;
  width: 40%;
}