{% extends 'base1.html' %}
{% block content %}

<div class="container">

  <p></p>

  <div class="patent-square">
    <form method="POST">
      <div>
        <h3>Add Patents to dashboard</h3>
      </div>
      {{ form.hidden_tag() }}
      {% for field in form
      if field.widget.input_type != 'hidden' %}

      <div>
        {{ field.label }}

        {{ field }}
        <p></p>

        {% for err in field.errors %}

        {{ err }}

        {% endfor %}

        {% endfor %}
        <p><button type="submit">Add Patent</button>
    </form>
  </div>

  {% endblock %}