<!DOCTYPE html>
<html>

<head>
  <title>Made To Invent</title>

  <link rel="stylesheet" href="/static/style.css">

</head>

<body>

  <div class="square">
    <h1>Made To Invent</h1>
    <nav class="navbar">
      {% if g.user %}
      <!-- <a href="/add-visit">Add visit</a>
    <a href="/{{g.user.username}}">Profile</a> -->

      <a href="/logout"> Logout </a>

<a  href="/inventor">Add Inventor </a>

<a href="/addpatent" >Add Patents</a>
<a href="/dashboard" >Dashboard</a>
      {% else %}
      <a href="/signup">New User </a>

      <a href="/login"> Login</a>

      {% endif %}


      <!-- <section class = "messages">
    {% for category,msg in get_flashed_messages(with_categories = true )%}
    <p class ={{category}}>{{msg}}</p>
    {% endfor %}
  </section> -->
    </nav>
    {% block content %}


    {% endblock %}
  </div>




  <!-- flash messages goes here -->
  <footer></footer>
</body>

</html>