{% extends 'base1.html' %}

{% block content %}

<body>
    <form action="POST">

        <div class="div-container">
            <div class="div-container"> Metrics</div>
            <div class="canvas-container">
                <canvas id="chartdiv1"></canvas>
                <canvas id="chartdiv2"></canvas>
                <canvas id="chartdiv3"></canvas>
                <canvas id="chartdiv4"></canvas>

            </div>

            <!-- <div id="chartdiv" class="chartdiv"> </div> -->
            <table class="table table-hover">
                <thead>
                    <tr>

                        <th scope="col">Number</th>
                        <th scope="col">Title</th>
                        <th scope="col">Issued Date</th>

                    </tr>
                <tbody>

                    {% for row in inventors_patents %}
                    <tr>
                        {% for cell in row %}

                        <td>{{cell}}</td>

                        {% endfor %}
                    </tr>
                    {% endfor %}





                </tbody>



                </thead>
        </div>

        </table>



        </div>

    </form>

</body>

{% endblock %}