<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


{% extends 'base.html' %}
{% block content %}
<h4 class="heading">Login</h4>
<div class="container">

  <div class="row justify-content-center">
    <div class="col-md-8">

      <form method="POST">
        {{ form.hidden_tag() }}
        {% for field in form
        if field.widget.input_type != 'hidden' %}

        <div>
          {{ field.label(class_="formlabel") }}
          {{ field(class_="inputCol") }}


          {% for err in field.errors %}
          <small class="form-text text-danger">
            {{ err }}
          </small>
          {% endfor %}
        </div>
        {% endfor %}


        <p><button type="submit" class="formbutton">Sign up</button>


      </form>
    </div>
  </div>
</div>

{% endblock %}