{% extends 'base.html' %}
{% block content %}



<p></p>

<div class="login-square">
  <form method="POST">

    {{ form.hidden_tag() }}
    {% for field in form
    if field.widget.input_type != 'hidden' %}

    <div>
      {{ field.label }}
      <br>
    </div>
    <div>
      {{ field(placeholder=field.description) }}
      <p></p>
    </div>
    {% for err in field.errors %}

    {{ err }}

    {% endfor %}

    {% endfor %}

      <p><button type="submit">Login</button>





  </form>
  <div>

    {% endblock %}