{% extends 'base2.html' %}
{% block content %}

<div class="container">

  <p></p>

  <div class="signup-square">
    <form method="POST">

      {{ form.hidden_tag() }}
      {% for field in form
      if field.widget.input_type != 'hidden' %}

      <div>
        {{ field.label }} {{ field(placeholder=field.description) }}
      </div>

        {% for err in field.errors %}

        {{ err }}

        {% endfor %}

        {% endfor %}
        <p></p>
        <button type="submit">Register</button>
        <!-- <button onclick="history.back()">Cancel</button> -->
    </form>
  </div>

  {% endblock %}